.box {
  background-color: tomato;
  height: 100px;
  margin: auto;
  width: 300px;
  border-radius: 50px;
  transition: border-radius 0.3s ease, background-color 0.3s,;
  opacity: 0.5;
  animation: spin 0.2s linear infinite;
}
 .box:hover {
  background-color: coral;    
  opacity: 1;
  border-radius: 0%;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}